﻿@model QuestApp.Models.Booking
@{
    ViewData["Title"] = "Details";
}
@*<h2>@Model.Name</h2>*@
@*<a class="btn btn-primary" data-toggle="modal" data-target="#myModal">More Inf</a>*@
<h1>Details</h1>


@*<table class="table table-bordered table-striped">*@
    @*<thead>
        <tr>
            <th>Booking Name</th>
            <th>Mobile</th>
            <th>Notes</th>
            <th>Email</th>
            <th>Date</th>
            <th>Treatment</th>
            <th>Time Slot</th>

            
        </tr>
   </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Mobile</td>
            <td>@Model.Note</td>
            <td>@Model.Email</td>
            <td>@Model.BookedDate.ToShortDateString()</td>
            <td>@Model.Treatment.TreatmentTitle</td>
            <td>@Model.TimeSlot.TimeSlotTitle</td>



        </tr>
        
    </tbody>
</table>*@
@*<script>
    console.log(@Model.Treatment.TreatmentTitle)
</script>*@
<div class="row">
    <div class="col-md-4">
        <form method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Mobile" class="control-label"></label>
                <input asp-for="@Model.Mobile" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Note" class="control-label"></label>
                <input asp-for="@Model.Note" class="form-control" readonly="@(true)"/>
                <span asp-validation-for="@Model.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BookedDate" class="control-label"></label>
                <input asp-for="@Model.BookedDate" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.BookedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="@Model.Treatment.TreatmentTitle" class="control-label"></label>
                    <input asp-for="@Model.Treatment.TreatmentTitle" class="form-control" readonly="@(true)">

                </div>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="@Model.TimeSlot.TimeSlotTitle"> </label>
                    <input asp-for="@Model.TimeSlotId" class="form-control" readonly="@(true)">

                </div>
            </div>

        </form>
    </div>
</div>
